.product img {
    aspect-ratio: 	1/1;
    object-fit: contain;
}

.alert-l{
    transition: all 1s;
    transform: translateX(-140rem);
}

.alert-r{
    transition: all 1s;
    transform: translateX(0rem);
}
.cardRotate{
    transition: all 1s;
    transform: rotate(360deg);
}